body{
    border: 0px;
    margin: 0px;
    background-color:white;
}

header{
    display: flex;
    flex-direction:row;
    background-color: black;
    padding: 16px;
    color:white; 
    font-size:100px;
    text-align: center;
    justify-content: center;
}

#titel {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

span{
    text-align: center;
}

.pokeJAM{
    height: 112px;
    width: 500px;
    margin: 20px;
}

footer{
    padding: 10px;
    background-color:black;
    color:white;
    font-size: 150px;
    text-align:center;
}

img {
    width: 200px;
}

nav {
    font-size: 25px;
    color: white;
}

.navLink:link,.navLink:visited,.navLink:hover{
    color:white;
    text-decoration: none;
    margin: 50px;
}

.navLink:active{
    text-decoration: none;
    color:red;
}

#McD, #BK{
    text-align: center;
    font-size: 50px;
}

.margin{
    margin:25px;
}

.margin2{
    margin:15px;
}

.meny {
    display: flex;
    flex-direction:column;
}

.meny-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
    font-style: oblique;
}

.meny-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: sans-serif;
    font-style: initial;
    margin-bottom: 30px;
}

