body{
    margin: 0px;
    font-family: 'Grandstander', cursive;
}

#Burger{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    width: 500px;
}

#titel{
    font-size: 60px;
}

#kcal{
    font-size: 60px;
}

header{
    display: flex;
    font-size: 30px;
    color: white;
    border: 0px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.tillbaka,.tillbaka:visited{
    color:white;
    font-size: 50px;
    text-decoration: none;
}

.tillbaka:hover,.tillbaka:active{
    color:blue;
    text-decoration: none;
}

.svart{
    color:black;
    font-size: 50px;
}