#Burger{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    width: 500px;
}

#titel{
    font-size: 60px;
}

#kcal{
    font-size: 60px;
}